
BwolingScoreCalculator/.vs/

BwolingScoreCalculator/bin/

BwolingScoreCalculator/obj/

BowlingScoreCalculator.Service/bin/

BowlingScoreCalculator.Service/obj/

BowlingScoreCalculator.ServiceTests/bin/

BowlingScoreCalculator.ServiceTests/obj/

BowlingScoreCalculator.Domain/bin/

BowlingScoreCalculator.Domain/obj/

BowlingScoreCalculator.Tests/obj/

BowlingScoreCalculator.Tests/bin/
